/* 	=colors 
****************************************************/
$white: #fff;
$warning: #f0ad4e;
$warning_H: #ec971f;

/* 	=space
	=grids
****************************************************/
$pad: 25px;
$pad_TB: 25px 0;
$pad_LR: 0 25px;